html,body
{
	font-family: Helvetica, Arial;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.flex-container {
	background: #F1F1F1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
    
    .flex-item
    {
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.1);
    background:white;
    margin: 5px;
    padding:10px;
    min-width:50%;
    text-align:center;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding:2px;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

    ul
    {
    	list-style-type:none;
    	border: 1px solid #ecf0f1;
    	padding:0;
    }
    ul li
    {
    	min-height:50px;
    	line-height:50px;
    	border-bottom: 1px solid #ecf0f1;
    	margin:0;
    }
    
    ul li:last-child()
    {
    	border:none;
    }
    
    .products ul li div
    {
    	float:left;
    	width:24%;
    }
    
    .cart ul li div
    {
    	float:left;
    	width:49%;
    }
    
    .products ul li div button
    {
    	margin-top:7.5px;
    	background: #3498db;
    }
    
    .cart ul li div button
    {
    	margin-top:7.5px;
    	background:#bdc3c7;
    }
    
    button
    {
    	background: #2ecc71;
    	border:none;
    	border-radius:none;
    	color:white;
    	font-weight:bold;
    	height:35px;
    	min-width:100px;
    	margin-left:10px;
    	margin-right:10px;
    	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .popup
    {
    	position:absolute;
    	z-index:9999;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
    	background: rgba(0,0,0,0.2);
    	display:none;
    }
    
    .popup .content
    {
    	margin:auto;
    	margin-top:10%;
    	width:30%;
    	min-height:250px;
    	background:white;
    	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.1);
    	padding:20px;
    	text-align:right;
    }
    
    .popup .content h3
    {
    	text-align:center;
    }
    
    .popup .content button
    {
    	margin-top:10px;
    }
    
    .popup .content label
    {
    	display:inline-block;
    	width:20%;
    	height:35px;
    	line-height:35px;
    	padding-right:20px;
    }
    
    .popup .content input
    {
    	height:35px;
    	width:70%;
    	border: 1px solid #ecf0f1;
    	color: #7f8c8d;
    	border-radius:none;
    }
    
    .popup .content .error
    {
    	display:none;
    	color:#e74c3c;
    	text-align:center;
    }